.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.Rdata
.httr-oauth
.DS_Store
.quarto


# Ignore build output
#docs/

# Ignore Quarto cache
#.quarto-cache/

# Editor-specific files
*.swp
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Data folder in root directory
data/

# Data in posts data folders
posts/2024-11-8-landcover-classification/data
posts/2024-12-12-coral-interactions/data
posts/2024-12-20-aquaculture
